* {
    margin: 0;
    
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A08333;
    background-image: url(../images/restaurant-inside.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header {
    margin-top: 30px;
    color: white;
    background-color: brown;
    width: 100%;
    padding: 30px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    width: 20rem;
}

.menu-bar-item {
    color: white;
    /* background-color: white; */
    margin: 10px;
}

.main-text {
    background-color: white;
}