* {
    margin: 0;
    
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A08333;
    background-image: url(../images/restaurant-inside.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    color: rgb(230, 220, 82);
    background-color: brown;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.restaurant-name {
    font-size: 3rem;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    font-size: 1.5rem;
}

.menu-bar-item {
    color: white;
    margin: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.main-text {
    background-color: rgb(169, 161, 61);
    width: 65vw;
    height: 100vh;
    font-size: 3rem;
    color: brown;
    padding: 50px;
    padding-top: 50px;
}

.copy-with-picture {
    display: flex;
    margin-bottom: 100px;
}

.bartender-picture {
    width: 20rem;
}

.section-1 {
    margin-right: 80px;
}

.beer-picture {
    width: 20rem;
    margin-right: 80px;
}

.copy-with-picture-2 {
    display: flex;
    
}

.inactive {
    display: none;
}

/* .copy-with-picture, .copy-with-picture-2 {
    display: none;
} */