.menu-container {
    background-color: rgb(169, 161, 61);
    width: 65vw;
    max-height: 150vh;
    font-size: 3rem;
    color: brown;
    padding: 50px;
    display: none;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    border: solid brown 5px;
    padding: 2vw;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.menu-picture {
    max-width: 25vw;
}

.menu-text {
    font-size: 30px;
    width: 30vw;
}